<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         metadata-complete="true">

	<display-name>WFO</display-name>
	
	<listener>
		<listener-class>ca.datamagic.wfo.servlet.WFOContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>ca.datamagic.filter.CORSFilter</filter-class>
		<init-param>
			<param-name>allow.origins</param-name>
			<param-value>http://localhost:4200,http://localhost:8080,http://datamagic.ca,https://datamagic.ca</param-value>
		</init-param>
		<init-param>
			<param-name>allow.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
		</init-param>
		<init-param>
			<param-name>allow.headers</param-name>
			<param-value>Origin,Content-Type,Accept,Authorization,X-Request-With,location</param-value>
		</init-param>
		<init-param>
			<param-name>allow.credentials</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<servlet>
        <servlet-name>Cache</servlet-name>
        <servlet-class>ca.datamagic.wfo.servlet.CacheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListWFO</servlet-name>
        <servlet-class>ca.datamagic.wfo.servlet.ListWFOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadWFO</servlet-name>
        <servlet-class>ca.datamagic.wfo.servlet.ReadWFOServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>SwaggerUI</servlet-name>
        <servlet-class>ca.datamagic.wfo.servlet.SwaggerUIServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>SwaggerResources</servlet-name>
        <servlet-class>ca.datamagic.wfo.servlet.SwaggerResourcesServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>SwaggerAPI</servlet-name>
        <servlet-class>ca.datamagic.wfo.servlet.SwaggerAPIServlet</servlet-class>
    </servlet>
    
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    
    <servlet-mapping>
        <servlet-name>Cache</servlet-name>
        <url-pattern>/api/cache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListWFO</servlet-name>
        <url-pattern>/api/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadWFO</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>SwaggerUI</servlet-name>
        <url-pattern>/swagger-resources/configuration/ui</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>SwaggerResources</servlet-name>
        <url-pattern>/swagger-resources</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>SwaggerAPI</servlet-name>
        <url-pattern>/v2/api-docs</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>swagger-ui.html</welcome-file>
    </welcome-file-list>
</web-app>

